doctype html
html
	head
		title CV
		link(rel='stylesheet', type='text/css', href='css/materialize.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
		link(rel='shortcut icon', href='img/favicon.ico')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='js/custom.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-104315848-1', 'auto');
			ga('send', 'pageview');
	body
		include navigation.pug
		.container
			.section
				// Icon Section
				.row
					.col.s12.m10.intro
						h5 Want to know more? Just click on each entry.
						p
							| If you prefer a print version, download PDF
							span.underlined
								a(href='docs/CV_ValerieFuchs.pdf', download='')  here.
				// closing row
				.row
					.col.s12.m10.line
						.cventry
							.year Since December 2017
							.title
								span.marker Junior Web Developer at Your Majesty ↓
						.details
							.description
								| Part of Developer Team at Design and Technology Firm 'Your Majesty' in Amsterdam. Mainly working on Samsung Smart Things Website across front- and back-end, including Contentful CMS integration.
							.tags
								span.highlight Koa
								span.highlight Node
								span.highlight Nunucks
								span.highlight Contentful
								span.highlight ES6
								span.highlight Sass
								span.highlight Mocha & Chai
				.row
					.col.s12.m10.line
						.cventry
							.year September - December 2017
							.title
								span.marker Web Developer Intern at Your Majesty ↓
						.details
							.description
								| 3 months internship at 'Your Majesty'. I mainly worked on the Samsung Smart Things Website, but also for clients Volkshotel and Drone Racing League. On top of that I created a proof of concept for the 'Your Majesty' Christmas project and shaped the backend-sided code of the final product.
							.tags
								span.highlight OOP
								span.highlight Custom Elements
								span.highlight ES6
								span.highlight Sass
								span.highlight Flexbox
								span.highlight MongoDB/Mongoose
								span.highlight Task Runners
				.row
					.col.s12.m10.line
						.cventry
							.year March 2017 - July 2017
							.title
								span.markerpink Web Development at New York Code and Design Academy ↓
						.details
							.description
								| 3 months full-time course with focus on JavaScript, including different libraries and frameworks. Most part of the course has been spent with building web-applications with Node.js. I've been working on Blog Applications (Avocadonet), API Integrations (Latenightsnack) and Data Visualization (Amsterdam Sun Machine). You can find all information on the curriculum 
								span.underlined
									a(href='https://nycda.com/courses/web-development-intensive-javascript') here.
							.tags
								span.highlight JavaScript
								span.highlight Node.js
								span.highlight SQL/Sequelize
								span.highlight React
								span.highlight jQuery
								span.highlight GitHub
				// closing row
				.row
					.col.s12.m10.line
						.cventry
							.year February 2017
							.title
								span.markerpink Scrum Product Owner Certification at Xebia Academy ↓
						.details
							.description
								| 2 days workshop to receive official SCRUM alliance certification.
							.tags
								span.highlight Agile Project Management
								span.highlight Product Owner
				// closing row
				.row
					.col.s12.m10.line
						.cventry
							.year Aug 2014 - March 2017
							.title
								span.marker Global Digital Marketing Manager at adidas ↓
						.details
							.description
								| Increased consumer-engagement by planning and executing award-winning digital campaigns for adidas neo, e.g. Snapchat co-creation campaign 
								span.underlined
									a(href='http://iris-worldwide.com/work/adidas-myneolabel/' target=_blank) #myneolabel
								| , which won two bronze Lions at Cannes 2017 (Categories ’Social Campaign’ and ‘Social Engement’).
							.description
								| Optimised e-Commerce integration of global campaigns, e.g. by creating online live experience for Selena Gomez Google Hangout in 2015, which increased online sales of collection by 45% during campaign period.
							.description
								| Raised user-centric approach for digital strategy, e.g. by producing a focus group study about mobile behaviour. This led to a company decision to not create a mobile app, saving a 6 figure sum from being spent unneccesarily and enabled this budget to be reallocated to other initiatives.
							.tags
								span.highlight Digital Strategy
								span.highlight Campaign Planning
								span.highlight Project Management
								span.highlight Analytics
				// closing row
				.row
					.col.s12.m10.line
						.cventry
							.year January 2014 - January 2015
							.title
								span.markerpink M.A. Media Management at Hyper Island ↓
						.details
							.description
								| Studies with focus on leadership, process management, design thinking and team development.
							.tags
								span.highlight User Centered Design
								span.highlight Agile Project Management
								span.highlight Team Development
				// closing row
				.row
					.col.s12.m10.line
						.cventry
							.year August 2010 - November 2013
							.title
								span.marker Digital Marketing at Paul Mitchell Haircare ↓
						.details
							.description
								| Amplified mobile brand experience by producing salonfinder iPhone app which was featured in the iTunes App-Store’s ‘Top 5’ during its first week after launch in 2010.
							.description
								| Enhanced usability and relevance of B2B e-Commerce by leading site towards responsiveness, which improved daily customer interaction of Paul Mitchell sales force working with iPads.
							.description
								| Increased social brand awareness by establishing social strategy and influencer relationships. My influencer work for e.g. product line ‘Awapuhi Wild Ginger’ resulted in video mentions by top German YouTubers, achieving 180.000 views without any media budget.
							.tags
								span.highlight Agile Project Management
								span.highlight Product Owner
								span.highlight Digital Marketing
				// closing row
				.row
					.col.s12.m10.line
						.cventry
							.year 2007 - 2010
							.title
								span.markerpink B.A. Media Management at FH Wiesbaden ↓
						.details
							.description Applied studies combining the three areas of Technology, Design and Management.
							.tags
								span.highlight Media Technology
								span.highlight Web Development Basics
								span.highlight Media Management
				// closing row
			// closing section
		// closing intro container
