#index-banner.section.no-pad-bot.header
	.container
		.row
			.col.s12.m4.whitefont
				a.logo(href='/')
					| VALERIE
					br
				a.logo(href='/') FUCHS
			.col.s12.m4
			.col.s12.m4.right
				a.nav(href='/cv')
					| CV
					br
				a.nav(href='/about')
					| ABOUT
					br
				a.nav(href='/contact')
					| CONTACT
					br
				a.nav.mobilelink(href='/')
					| PORTFOLIO
					br
