/* Custom Stylesheet */

/*-------FONTS------*/
@font-face {
     font-family: League;
     src: url("../fonts/LeagueSpartan-Bold.otf");
}

@font-face {
	font-family: Raleway;
	src: url("https://fonts.googleapis.com/css?family=Raleway");
}

.raleway {
	font-family: Raleway;
}

/*----GLOBAL STYLES---*/

* {
	font-family: League;
/*	border-style: solid;
	border-color: red;
	border-width: 1px;*/
}

a {
	color: black;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.centered {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.underlined {
	text-decoration: underline;
	color: inherit;
}

.link {
	color: black;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 10px;
}

/*------COLORS----*/

.whitefont{
	color: white;
}

.darkblue{
	background-color: #605DE8;
}

.brightgreen{
	background-color: #C5E879;
}

.brightblue{
	background-color: #A2E7F2;
}

.white {
	background-color: white;
}

/*-----NAVIGATION & HEADER---*/

.nav {
	font-size: 26px;
	color: black;
	text-align: right;
}

.nav:hover{
	color: white;
}

/* PORTFOLIO NAV ITEM ONLY APPEARS ON MOBILE VIEW */
.mobilelink {
	display: none;
}

.logo {
	font-size: 30px;
	color: black;
}

#index-banner {
	background-color: pink;
}

.header{
	/*padding: 30px;*/
	background-size: 20px 20px;
    background-image: -webkit-linear-gradient(left, white 1px, transparent 1px), -webkit-linear-gradient(top, white 1px, transparent 1px);
    background-image: -o-linear-gradient(left, white 1px, transparent 1px), -o-linear-gradient(top, white 1px, transparent 1px);
    background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
}

/*-----LAYOUT ELEMENTS-----*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

/*---STYLING TOOLS----*/

.marker {
	color: white;
	background-color: black;
	padding: 1px;
	line-height: 170%;
}

.markerpink {
	color: black;
	background-color: #A2E7F2;
	padding: 1px;
}

.highlight {
	/*border-style: solid;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 5px;
	background-color: #ACB4B5;
}

/*----INTRO PAGE SPECIFIC STYLING---*/

/*FLEX CONTAINER*/
.projectcard {
	/*min-width: 300px;*/
	/*flex-wrap: wrap;*/
	border-color: black;
	padding: 5%;
	border: 2px;
	border-style: solid;
	-webkit-box-shadow: 10px 10px 0px;
	        box-shadow: 10px 10px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*FLEX ITEMS*/
.cardinfo {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
}

/*FLEX CONTAINER*/
.svgcontainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

/*FLEX ITEM*/
.svg {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	height: 150px;
	padding: 10%;
}

.teaser {
 	/*min-height: 165px;*/*/
	/*min-width: 200px;*/*/
}

/*-------SVG ANIMATIONS ON LANDING PAGE------*/

/*SUN*/
/*Animation Code*/
@-webkit-keyframes cloudappear {
  0%   {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(80px);
  }
}

@-webkit-keyframes rain {
  0%   {
    transform: translateY(0px);
    transform: translateX(-80px);
  }
  40% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  100% {
    transform: translateY(60px);
  }
}

/* The element to apply the animation to */
.hide {
  display: none;
}

.cloud {
  transform: translateX(-100px);
}

.drop {
  transform: translateX(-100px);
}

.cloud.active {
  animation-name: cloudappear;
  animation-duration: 4s;
}

.rain {
  animation-name: rain;
  animation-duration: 4s;
}

/*BURGER*/
/*Animation Code*/
@-webkit-keyframes down {
  0%   {
  	transform: translateY(0px);
  }
  50% {
  	transform: translateY(10px);
  }
  100% {
  	transform: translateY(0px);
  }
}

@-webkit-keyframes middledown {
  0%   {
  	transform: translateY(0px);
  }
  50% {
  	transform: translateY(3px);
  }
  100% {
  	transform: translateY(0px);
  }
}

@-webkit-keyframes up {
  0%   {
  	transform: translateY(0px);
  }
  50% {
  	transform: translateY(-10px);
  }
  100% {
  	transform: translateY(0px);
  }
}

@-webkit-keyframes middleup {
  0%   {
  	transform: translateY(0px);
  }
  50% {
  	transform: translateY(-3px);
  }
  100% {
  	transform: translateY(0px);
  }
}

.hide {
	display: none;
}

.bite.active {
	animation-name: up;
	animation-duration: 1.2s;
}

/* The element to apply the animation to */
.bottombun.active {
	animation-name: down;
	animation-duration: 1.2s;
}

.saladgroup.active {
	animation-name: middledown;
	animation-duration: 1.2s;
}

.patty.active {
	animation-name: middleup;
	animation-duration: 1.2s;
}

.topgroup.active {
	animation-name: up;
	animation-duration: 1.2s;
}

/*AVOCADO*/
/*Animation Code*/
@-webkit-keyframes rotate {
  0%   {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes turnbrown {
  0%   {
    fill: #70b224;
  }
  100% {
    fill: #c7b299;
  }
}

@-webkit-keyframes turngreen {
  0%   {
    fill: #c7b299;
  }
  100% {
    fill: #70b224;
  }
}

/* The element to apply the animation to */

.rotate {
  animation-name: rotate;
  transform-origin: 50% 50%;
  animation-duration: 2s;
}

.turnbrown {
  animation-name: turnbrown;
  animation-duration: 2s;
}

.turngreen {
  animation-name: turngreen;
  animation-duration: 2s;
}

/*----CV PAGE SPECIFIC STYLING----*/

.line {
	border-left-style: solid;
	/*border-style: solid;*/
}

.projects{
	padding-top: 20px;
}

.title {
	padding-bottom: 10px;
	cursor: pointer;
}

.description {
	font-family: Raleway;
	padding-bottom: 10px;
}

.details {
	display: none;
}

/*Flex Container*/
.tags {
	margin-top: 10px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	max-width: 1000px;
}


/*Flex Items*/
span.tags.highlight {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

/*----CONTACT PAGE SPECIFIC STYLING--*/

.contact {
	background-color: white;
	border-color: black;
	border: 2px;
	border-style: solid;
	-webkit-box-shadow: 10px 10px 0px;
	        box-shadow: 10px 10px 0px;
}

.contact:hover{
	background-color: #A2E7F2;
}


/*---RESPONSIVENESS----*/

/*Linebreak on mobile*/
@media only screen and (max-width:768px){

	.projectcard {
		margin-bottom: 5%;

	}

	.tags {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}

	.svgcontainer {
		display: none;
	}

	a.logo{
		display: none;
	}

	.right {
		text-align: center;
	}

	.line{
		border-left-style: none !important;
		border-bottom-style: solid;
	}

	.col.s12.m10.line {
		text-align: center;
		border-bottom-style: solid;
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.col.s12.m10.intro {
		text-align: center;
		border-bottom-style: solid;
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m4 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
  	}

	.mobilelink {
		display: block;
		text-align: center;
	}

	* {
		font-size: 18px;
	}

	.intro {
		font-size: 18px;
		text-align: center;
	}

	.marker{
		font-size: 18px;
	}

	.svg {
		padding: 0%;
		height: 200px;
		margin: none;
	}
}
