/* Custom Stylesheet */

/*-------FONTS------*/
@font-face {
     font-family: League;
     src: url("../fonts/LeagueSpartan-Bold.otf");
}

@font-face {
	font-family: Raleway;
	src: url("https://fonts.googleapis.com/css?family=Raleway");
}

.raleway {
	font-family: Raleway;
}

/*----GLOBAL STYLES---*/

* {
	font-family: League;
/*	border-style: solid;
	border-color: red;
	border-width: 1px;*/
}

a {
	color: black;
}

.right {
	text-align: center;
}

.center {
	text-align: center;
}

.centered {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.underlined {
	text-decoration: underline;
	color: inherit;
}

.link {
	color: black;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 10px;
}

/*------COLORS----*/

.whitefont{
	color: white;
}

.darkblue{
	background-color: #605DE8;
}

.brightgreen{
	background-color: #C5E879;
}

.brightblue{
	background-color: #A2E7F2;
}

.white {
	background-color: white;
}

/*-----NAVIGATION & HEADER---*/

.nav {
	font-size: 26px;
	color: black;
	text-align: right;
}

.nav:hover{
	color: white;
}

.logo {
	font-size: 30px;
	color: black;
}

#index-banner {
	background-color: pink;
}

.header{
	/*padding: 30px;*/
	background-size: 20px 20px;
    background-image: -webkit-linear-gradient(left, white 1px, transparent 1px), -webkit-linear-gradient(top, white 1px, transparent 1px);
    background-image: -o-linear-gradient(left, white 1px, transparent 1px), -o-linear-gradient(top, white 1px, transparent 1px);
    background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
}

/* PORTFOLIO NAV ITEM ONLY APPEARS ON MOBILE VIEW */
.mobilelink {
	display: none;
}

/*-----LAYOUT ELEMENTS-----*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.card {
	border-color: black;
	border: 2px;
	border-style: solid;
	-webkit-box-shadow: 10px 10px 0px;
	        box-shadow: 10px 10px 0px;
}

/*---STYLING TOOLS----*/

.marker {
	color: white;
	background-color: black;
	padding: 1px;
}

.markerpink {
	color: black;
	background-color: #A2E7F2;
	padding: 1px;
}

.highlight {
	/*border-style: solid;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 5px;
	background-color: #ACB4B5;
}

/*----INTRO PAGE SPECIFIC STYLING---*/

/*FLEX CONTAINER*/
.projectcard {
	/*min-width: 300px;*/
	/*flex-wrap: wrap;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*FLEX ITEMS*/
.cardinfo {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
}

/*FLEX CONTAINER*/
.svgcontainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

/*FLEX ITEM*/
.svg {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	height: 150px;
	padding: 10%;
}

.teaser {
 	/*min-height: 165px;*/*/
	/*min-width: 200px;*/*/
}

/*----CV PAGE SPECIFIC STYLING----*/

.line {
	border-left-style: solid;
	/*border-style: solid;*/
}

.projects{
	padding-top: 20px;
}

.title {
	padding-bottom: 10px;
	cursor: pointer;
}

.description {
	font-family: Raleway;
	padding-bottom: 10px;
}

.details {
	display: none;
}

/*Flex Container*/
.tags {
	margin-top: 10px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	max-width: 1000px;
}


/*Flex Items*/
span.tags.highlight {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

/*----CONTACT PAGE SPECIFIC STYLING--*/

.contact {
	background-color: white;
}

.contact:hover{
	background-color: #A2E7F2;
}

/*---RESPONSIVENESS----*/

/*Linebreak on mobile*/
@media only screen and (max-width:768px){

	.tags {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}

	.svgcontainer {
		display: none;
	}

	a.logo{
		display: none;
	}

	.right {
		text-align: center;
	}

	.line{
		border-left-style: none !important;
		border-bottom-style: solid;
	}

	.col.s12.m10.line {
		text-align: center;
		border-bottom-style: solid;
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.col.s12.m10.intro {
		text-align: center;
		border-bottom-style: solid;
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m4 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
  	}

	.mobilelink {
		display: inline-block;
	}

	* {
		font-size: 18px;
	}

	.intro {
		font-size: 18px;
		text-align: center;
	}

	.marker{
		font-size: 18px;
	}

	.svg {
		padding: 0%;
		height: 200px;
		margin: none;
	}
}
